.recommanded{
    flex-basis: 30%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
    border-radius: 5px;
}
.side-video-list .vid-info{
    flex-basis: 45%;
}
.side-video-list .vid-info h4{
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 6px;
}
.side-video-list .vid-info p{
    font-size: 14px;
    margin-bottom:2px;
    color: rgb(20, 19, 19);
}
.side-video-list .vid-info .viewCount{
    font-size: 12px;
    color: rgb(46, 44, 44);
}

@media (max-width:900px){
    .recommanded{
        flex-basis: 100%;
    }
}
